<PLD>
	<target_carousel>
		<target ID="0">
			<Size>50.8</Size>
			<Composition>Pb(Sc,Ta)O3</Composition>
			<Height>0.0</Height>
			<Utilization>0.90</Utilization>
		</target>
		<target ID="1">
			<Size>1</Size>
			<Composition>Blank1</Composition>
			<Height>0.0</Height>
			<Utilization>0.90</Utilization>
		</target>
		<target ID="2">
			<Size>20</Size>
			<Composition>LLTaO</Composition>
			<Height>0.0</Height>
			<Utilization>0.90</Utilization>
		</target>
		<target ID="3">
			<Size>25</Size>
			<Composition>new target</Composition>
			<Height>0.0</Height>
			<Utilization>0.90</Utilization>
		</target>
		<target ID="4">
			<Size>50.8</Size>
			<Composition>SrTiO3</Composition>
			<Height>0.0</Height>
			<Utilization>0.90</Utilization>
		</target>
		<target ID="5">
			<Size>5</Size>
			<Composition>Blank5</Composition>
			<Height>0.0</Height>
			<Utilization>0.90</Utilization>
		</target>
	</target_carousel>
	<substrate>
		<max_speed>2000</max_speed>
		<max_acceleration>2000000</max_acceleration>
	</substrate>
	<target>
		<max_speed>2000</max_speed>
		<max_acceleration>2000000</max_acceleration>
	</target>
	<laser>
		<max_reprate>30</max_reprate>
	</laser>
</PLD>