[Desktop Entry]
Name=PLD Control
Comment=GUI Control of the PLD System
Icon=/usr/share/pixmaps/laser_control_icon.png
Exec=/home/pi/PLD-Laser-Brain/src/install/Start_PLD_Control.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=System;
